@(user: User, item: models.Item, title: String, message: String, endpoint: String)

@main(title, message, endpoint, user) {

    <div class="row-fluid">
        <!-- Communities -->
        <div class="col-md-6">
        @if(item.communities.size > 0) {
            <ul class="nav nav-list">
                <li class="nav-header">Parent Communities</li>
                @for(community <- item.communities) {
                    <li><a href="@routes.Communities.show(community.id)">@community.name</a></li>
                }
            </ul>
        }
        </div>

        <!-- Collections -->
        <div class="col-md-6">
        @if(item.collections.size > 0) {
            <ul class="nav nav-list">
                <li class="nav-header">Parent Collections</li>
                @for(collection <- item.collections) {
                    <li><a href="@routes.Collections.show(collection.id)">@collection.name</a></li>
                }
            </ul>
        }
        </div>
    </div>

    <h1>@item.name</h1>

    <p>Handle: <a href="http://hdl.handle.net/@item.handle">http://hdl.handle.net/@item.handle</a></p>

    @if(item.isArchived) {
        <p>Archival Status: In Archive</p>
    } else {
        <p>Archival Status: Not yet in archive.</p>
    }

    @if(item.isWithdrawn) {
        <p>Item has been withdrawn from the repository.</p>
    }



    @if(item.bitstreams.size > 0) {
        <h2>Bitstreams</h2>
        @for(bitstream <- item.bitstreams) {
            <div class="media">
                <a class="pull-left" href="@(Application.baseRestUrl)@(bitstream.retrieveLink)">
                    @if(bitstream.mimeType == "image/jpeg") {
                        <img class="media-object" src="@(Application.baseRestUrl)@(bitstream.retrieveLink)" />
                    } else {
                        <img class="media-object" src="holder.js/64x64"/>
                    }
                </a>
                <div class="media-body">
                    <a href="@(Application.baseRestUrl)@(bitstream.retrieveLink)">
                        <h4 class="media-heading">@bitstream.name</h4>
                    </a>
                    bundle:@bitstream.bundleName desc:@bitstream.description format:@bitstream.format size:@bitstream.sizeBytes
                </div>
            </div>
        }
    }


    @if(item.metadata.size > 0) {
    <h2>Metadata</h2>
    <dl>
        @for(metadataField <- item.metadata) {
          <dt>@metadataField.key</dt>
          <dd>@metadataField.value</dd>


        }
    </dl>
    }

}