@(item: models.Item, title: String, message: String)

@main(title, message) {

<h1>@item.name</h1>

<p>Handle: <a href="http://hdl.handle.net/@item.handle">http://hdl.handle.net/@item.handle</a></p>

@if(item.isArchived) {
    <p>Archival Status: In Archive</p>
} else {
    <p>Archival Status: Not yet in archive.</p>
}

@if(item.isWithdrawn) {
    <p>Item has been withdrawn from the repository.</p>
}


@if(item.metadata.length > 0) {
<h2>Metadata of this Item</h2>
<ul>
    @for(metadataField <- item.metadata) {
    <li>@metadataField</li>
    }
</ul>
}


}