@(user: User, community: Community, title: String, message: String, endpoint: String, flash: String)

@main(title, message, endpoint, user) {
    @if(flash) {
        <div class="alert alert-success" role="alert">@flash</div>
    }

    @if(community.parentCommunities.size() > 0) {
        <ul class="nav nav-list">
            <li class="nav-header">Owning Communities</li>
            @for(parentCommunity <- community.parentCommunities) {
                <li><a href="@routes.Communities.show(parentCommunity.id)">@parentCommunity.name</a></li>
            }
        </ul>
    }

<h1>@community.name</h1>
    @if(community.logo != null) {
        <img src="@(Application.baseRestUrl)@community.logo.retrieveLink" class="img-polaroid"/>
    }
@if(community.copyrightText) {
    <h2>Copyright Text</h2>
    <p>@Html(community.copyrightText)</p>
}


<h2>Count Items: @community.countItems</h2>

<p>Handle: <a href="http://hdl.handle.net/@community.handle">http://hdl.handle.net/@community.handle</a></p>

@if(community.introductoryText) {
    <h2>Introductory Text</h2>
    <p>@Html(community.introductoryText)</p>
}

@if(community.shortDescription) {
    <h2>Short Description</h2>
    <p>@Html(community.shortDescription)</p>
}

@if(community.sidebarText) {
    <h2>Sidebar Text</h2>
    <p>@Html(community.sidebarText)</p>
}

@if(community.subCommunities.length > 0) {
    <h2>Communities within this Community</h2>
    <ul>
    @for(subCommunity <- community.subCommunities) {
        <li><a href="@routes.Communities.show(subCommunity.id)">@(subCommunity.name)</a></li>
    }
    </ul>
}

@if(community.collections.length > 0) {
<h2>Collections within this Community</h2>
<ul>
    @for(collection <- community.collections) {
    <li><a href="@routes.Collections.show(collection.id)">@collection.name</a></li>
    }
</ul>
}

    <a href="@routes.Communities.editForm(community.id)"><button type="button" class="btn btn-default">Edit Community</button></a>

}