@(collection: models.Collection, title: String, message: String, endpoint: String)

@main(title, message, endpoint) {

    @if(collection.parentCommunities.size() > 0) {
        <ul class="nav nav-list">
            <li class="nav-header">Owning Communities</li>
            @for(community <- collection.parentCommunities) {
                <li><a href="@routes.Communities.show(community.id)">@community.name</a></li>
            }
        </ul>
    }

    <h1>@collection.name</h1>
    @if(collection.logo != null) {
        <img src="@(Application.baseRestUrl)@collection.logo.retrieveLink" class="img-polaroid"/>
    }

    <p>Handle: <a href="http://hdl.handle.net/@collection.handle">http://hdl.handle.net/@collection.handle</a></p>



    @if(collection.introText) {
        <h2>Introductory Text</h2>
        <p>@Html(collection.introText)</p>
    }

    @if(collection.copyrightText) {
        <h2>Copyright Text</h2>
        <p>@Html(collection.copyrightText)</p>
    }

    @if(collection.shortDescription) {
        <h2>Short Description</h2>
        <p>@Html(collection.shortDescription)</p>
    }

    @if(collection.sidebarText) {
        <h2>Sidebar Text</h2>
        <p>@Html(collection.sidebarText)</p>
    }


    <h2>This collection has @collection.countItems items.</h2>
    <ul>
        @for(item <- collection.items) {
          <li><a href="@routes.Items.show(item.id)">@item.name</a></li>
        }
    </ul>

}