@(community: Community, title: String, message: String, endpoint: String)

@main(title, message, endpoint) {

<h1>@community.name</h1>

@if(community.copyrightText) {
    <h2>Copyright Text</h2>
    <p>@Html(community.copyrightText)</p>
}


<h2>Count Items: @community.countItems</h2>

<p>Handle: <a href="http://hdl.handle.net/@community.handle">http://hdl.handle.net/@community.handle</a></p>

@if(community.introductoryText) {
    <h2>Introductory Text</h2>
    <p>@Html(community.introductoryText)</p>
}

@if(community.shortDescription) {
    <h2>Short Description</h2>
    <p>@Html(community.shortDescription)</p>
}

@if(community.sidebarText) {
    <h2>Sidebar Text</h2>
    <p>@Html(community.sidebarText)</p>
}

@if(community.subCommunities.length > 0) {
    <h2>Communities within this Community</h2>
    <ul>
    @for(subCommunity <- community.subCommunities) {
        <li><a href="/community/@subCommunity.id">@(subCommunity.name)</a></li>
    }
    </ul>
}

@if(community.collections.length > 0) {
<h2>Collections within this Community</h2>
<ul>
    @for(collection <- community.collections) {
    <li><a href="/collection/@collection.id">@collection.name</a></li>
    }
</ul>
}
}