@(title: String, message: String, endpoint: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <!-- Le styles -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

        <!-- Le fav and touch icons -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta name="google-site-verification" content="7owwMvcKV3M8TiG2pELftMzNXuTxbspqyXqvyGeXKQ4" />

    </head>

    <body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">DSpace Rest Play</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="https://github.com/peterdietz/dspace-rest-play">About</a></li>
                        <li><a href="https://github.com/peterdietz/dspace-rest-play/issues">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            @content

            <hr/>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle btn btn-info" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            View RAW JSON
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <pre><code class="prettyprint">@message</code></pre>
                        </div>
                    </div>
                </div>
            </div>
            API Endpoint: <a href="@endpoint">@endpoint</a>

        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="span4">
                <h2>DSpace REST API</h2>
                <p>This app uses the DSpace REST API as the data backstore that it gets all data from. The DSpace is still under development.</p>
                <p><a class="btn" href="http://demo.dspace.org/rest-hedtek">View REST API &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>What is this?</h2>
                <p>The DSpace REST-API project is cool and all, but I needed a way to kick the tires, and browse the repository, through the API.
                    <br/>
                    Instead of laboring and banging away at JSPUI, XMLUI, och så vidare, to make them interact with the REST interface, I've decided to start from a clean slate, start from scratch, and in the process, teach myself how to use the <a href="http://www.playframework.com/">Java Play! Framework</a>. The goal of this project is to replicate the DSpace browse experience through this UI, using the REST API as the data-source. Not too lofty. Performing the PUT, POST, DELETE actions can come later...</p>
                <p><a class="btn" href="https://github.com/peterdietz/dspace-rest-play">View Client App Code &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>What Works</h2>
                <p>The commit activity is the best indicator of what's been worked on, but here's what works.
                    <ul>
                        <li>Top Level Community List</li>
                        <li>Community Page</li>
                        <li>Collection Page</li>
                        <li>Item Page</li>
                    </ul>
                    And what doesn't work includes bitstreams, images, searching, and a whole lot more. Feel free to contribue.
                </p>
                <p><a class="btn" href="https://github.com/peterdietz/dspace-rest-play/commits/master">View Change Log &raquo;</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; <a href="https://github.com/peterdietz">Peter Dietz</a> 2013</p>
        </footer>

    </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/holder.min.js")" type="text/javascript"></script>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" type="text/javascript"></script>
    </body>
</html>